/* Blog Container */
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  gap: 40px; 
  background-color: #f5f5f5;
}

/* Thumbnail Container */
.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail-image {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
/* Thumbnail Date */
.thumbnail-date {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
  text-align: center;
}

/* Post Date */
.post-date {
  font-size: 16px;
  color: #888;
  margin-top: -15px;
  text-align: center;
  margin-bottom: 20px;
}


.thumbnail-title {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

/* Blog Post */
.blog-post {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.post-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.post-image {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.post-title {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.post-content {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  text-align: justify;
  margin-bottom: 30px;
}

.post-video-container {
  display: flex;
  justify-content: center;
}

.post-video {
  max-width: 800px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .post-title {
    font-size: 28px;
  }

  .post-content {
    font-size: 16px;
  }

  .post-image {
    max-width: 100%;
  }

  .post-video {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .post-title {
    font-size: 24px;
  }

  .post-content {
    font-size: 14px;
  }
}
